CREATE OR REPLACE FUNCTION get_top_pages(start_time TIMESTAMPTZ DEFAULT '2000-01-01'::TIMESTAMPTZ, item_limit INT DEFAULT 5)
RETURNS TABLE(path TEXT, view_count BIGINT)
LANGUAGE sql
SECURITY DEFINER
AS $$
  SELECT page_path as path, COUNT(*) as view_count
  FROM page_views
  WHERE visited_at >= start_time
  GROUP BY page_path
  ORDER BY view_count DESC
  LIMIT item_limit;
$$;
